# Core functionality - changes here should be rare!
/src/app.py                   @aksleenden
/src/backend/database.py      @aksleenden
/src/backend/routers/auth.py  @aksleenden

# The frontend will need refactored soon to be more object oriented.
/src/static/   @aksleenden
